.title_view { 
    background: white;
    color: #ce2700;

}
body {
    background-color:rosybrown;
}
#camera,#result { 
    border: 2px solid white;
    width: 310px;
    height: 340px;
    box-shadow: 5px 5px 18px white;
    margin-top: 10px;
}
#white {
    background-color:white;
}
label {
    color:red;
    font-family: cursive;
}
.main_div {
        background: #ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
#result2 {
    background-color: white;
    width:400px;
    border-radius: 10px;
}
.footer_page {
    background-color: white;
    position: fixed;
    height:200px;
    width:100%;
    text-align:center;
border-radius: 10px;
}
a {
    color:red;
    text-decoration: none;
}
#info {
    font-size:20px;
    font:bold;
}